 body {
            color: #485042;
            display: flex;
            height: 100dvh;
            flex-direction: column;
            margin: 0;
            font-family: "Segoe UI";
            background-color: #a0bcc2;
            justify-content: center;
            align-items: center;
            touch-action: manipulation;
        }

        #gameboard {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 2rem;
            background: #dfdfdf;
            border-radius: 1rem;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
            margin: 1rem;
        }

        button {
            padding: 1rem;
            font-size: 2rem;
            border: none;
            border-radius: 8px;
            background-color: #fff;
            color: #485042;
            cursor: pointer;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            outline: none;
            width: 120px;
            height: 120px;
        }

        h1 {
            font-size: 6rem;
        }
        h2 {
            font-size: 3rem;
            margin-bottom: 5rem;
            font-style: italic;
            text-align: center;
        }
        
        p {
            margin: 0.5rem;
        }




        button:active,
        .active {
            box-shadow: none;
            border: 2px solid #dfdfdf;
            background-color: #007BFF;
            color: white;
        }